@keyframes ldio-mr874cz67vc {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ldio-mr874cz67vc div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-mr874cz67vc linear 1s infinite;
  background: #170d0f;
  width: 12px;
  height: 24px;
  border-radius: 3.84px / 3.84px;
  transform-origin: 6px 52px;
}

.ldio-mr874cz67vc div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.666s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.583s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.416s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.333s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.1666s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333s;
  background: #170d0f;
}

.ldio-mr874cz67vc div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #170d0f;
}

.loadingio-spinner-spinner-ylzabjux22b {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
}

.ldio-mr874cz67vc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-mr874cz67vc div {
  box-sizing: content-box;
}
